<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="walke.demolibrary">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true">
        <activity android:name=".interface1.Demo1Activity"/>
        <activity android:name=".interface3.Demo3Activity"/>
        <activity android:name=".completion.CompletionActivity"/>
        <activity android:name=".picture.BitmapColorActivity"/>
        <activity android:name=".layoutmanager.TTCardsActivity"/>
        <activity android:name=".pinpu.PinPuActivity"/>
        <activity android:name=".pinpu.PinPuActivity2"/>
        <activity android:name=".audio.activity.AudioActivity01"/>
        <activity android:name=".audio.activity.AudioActivity02"/>
        <activity android:name=".audio.waveform.WaveformActivity"/>
        <activity android:name=".audio.recorder.RecorderActivity"/>
        <activity android:name=".audio.waveform.DoubleChannelActivity"/>
        <activity android:name=".audio.waveform.DoubleFileActivity"/>
        <activity android:name=".audio.waveform.SingleChannelActivity"/>
        <activity android:name=".audio.waveform.SingleFileActivity"/>
        <activity android:name=".audio.volume.VolumeViewActivity"/>
        <activity android:name=".movedsp.activitys.FlashScreenActivity"/>
        <activity android:name=".movedsp.activitys.EnterActivity"/>
        <activity android:name=".movedsp.activitys.MoveDspActivity"/>
        <activity android:name=".wifi.WifiActivity01"/>
<!--        <activity android:name=".glide.GlideActivity"/>-->
        <!-- Glide引用将RGB565改成ARGB8888需配置 -->
    <!--    <meta-data
            android:name="walke.demolibrary.glide.GlideConfigUtil"
            android:value="GlideModule" />-->
    </application>

</manifest>
