<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="walke.widget">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true">
        <activity android:name="walke.widget.ViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="walke.widget.sunset.SunAnimationActivity"/>
        <!--<activity android:name="walke.activity.seekbar.SeekBarActivity"/>-->
        <activity android:name="walke.activity.seekbar.SeekBarActivity"/>
        <!--<activity android:name="walke.widget.walke.activity.MarqueeActivity1"/>-->
        <activity android:name="walke.activity.MarqueeActivity1"/>
        <activity android:name="walke.widget.flowlayout.FlowLayoutActivity"/>
        <activity android:name="walke.widget.percentage.PercentageJavaActivity"/>
        <activity android:name="walke.widget.luckypan.LuckyPanActivity"/>

        <activity android:name="walke.activity.xiu.XiuActivity"/>
        <activity android:name="walke.widget.img.ImgActivity"/>
        <activity android:name="walke.widget.img.ImgActivity2"/>
        <activity android:name="walke.widget.gallery.GalleryActivity"/>
        <activity android:name="walke.widget.text.TextActivity"/>
        <activity android:name="walke.widget.gradient.GradientActivity"/>

    </application>

</manifest>
